/*
  this is default globals.css file for all my projects using Tailwind CSS v4,
  all colors and utility classes to use in web development
*/

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-100: #e7f2fe;
  --color-primary-500: #2389f5;
  --color-primary-700: #0f2590;

  --color-dark-100: #030e1b;
  --color-dark-200: #0f1b2a;
  --color-dark-300: #1b2839;
  --color-dark-400: #2e3c4e;
  --color-dark-500: #415062;

  --color-light-400: #617691;
  --color-light-500: #a9bace;
  --color-light-700: #f4f4f5;
  --color-light-800: #f4f6f8;
  --color-light-850: #f9fbfb;
  --color-light-900: #ffffff;

  --radius-2: 8px;
  --radius-1_5: 6px;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-light-100: 0px 12px 20px 0px rgba(184, 184, 184, 0.03),
    0px 6px 12px 0px rgba(184, 184, 184, 0.02),
    0px 2px 4px 0px rgba(184, 184, 184, 0.03);
  --shadow-light-200: 10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-light-300: -10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-dark-100: 0px 2px 10px 0px rgba(46, 52, 56, 0.1);
  --shadow-dark-200: 2px 0px 20px 0px rgba(39, 36, 36, 0.04);

  --breakpoint-xs: 420px;

  --font-open-sans: var(--font-open-sans);
  --font-space-grotesk: var(--font-space-grotesk);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@utility background-light850_dark100 {
  @apply bg-light-850 dark:bg-dark-100;
}

@utility background-light900_dark200 {
  @apply bg-light-900 dark:bg-dark-200;
}

@utility background-light900_dark300 {
  @apply bg-light-900 dark:bg-dark-300;
}

@utility background-light800_darkgradient {
  @apply bg-light-800 dark:dark-gradient;
}

@utility background-light800_dark400 {
  @apply bg-light-800! dark:bg-dark-400!;
  @apply bg-light-800 dark:bg-dark-400;
}

@utility background-light700_dark400 {
  @apply bg-light-700 dark:bg-dark-400;
}

@utility background-light700_dark300 {
  @apply bg-light-700 dark:bg-dark-300;
}

@utility background-light800_dark300 {
  @apply bg-light-800! dark:bg-dark-300!;
}

@utility background-light800_dark200 {
  @apply bg-light-800 dark:bg-dark-200;
}

@utility background-dark400_light900 {
  @apply dark:bg-dark-400! bg-light-900!;
}

@utility text-dark100_light900 {
  @apply text-dark-100! dark:text-light-900!;
}

@utility text-dark200_light900 {
  @apply text-dark-200 dark:text-light-900;
}

@utility text-dark200_light800 {
  @apply text-dark-200! dark:text-light-800!;
}

@utility text-dark300_light700 {
  @apply text-dark-300 dark:text-light-700;
}

@utility text-dark400_light700 {
  @apply text-dark-400 dark:text-light-700;
}

@utility text-dark500_light700 {
  @apply text-dark-500! dark:text-light-700!;
}

@utility text-dark500_light500 {
  @apply text-dark-500 dark:text-light-500;
}

@utility text-dark500_light400 {
  @apply text-dark-500 dark:text-light-400;
}

@utility text-dark300_light900 {
  @apply text-dark-300! dark:text-light-900!;
}

@utility text-dark400_light800 {
  @apply text-dark-400 dark:text-light-800;
}

@utility text-light400_light500 {
  @apply text-light-400! dark:text-light-500!;
  @apply text-light-400! dark:text-light-500!;
}

@utility text-dark400_light500 {
  @apply text-dark-400 dark:text-light-500;
}

@utility text-dark400_light900 {
  @apply text-dark-400! dark:text-light-900!;
}

@utility light-border {
  @apply border-light-800 dark:border-dark-300;
}

@utility light-border-2 {
  @apply border-light-700! dark:border-dark-400!;
}

@utility h1-bold {
  @apply text-[30px] font-bold leading-[1.4] tracking-tighter;
}

@utility h2-bold {
  @apply text-[24px] font-bold leading-[1.3];
}

@utility h2-semibold {
  @apply text-[24px] font-semibold leading-[1.3];
}

@utility h3-bold {
  @apply text-[18px] font-bold leading-[1.3];
}

@utility h3-semibold {
  @apply text-[18px] font-semibold leading-[1.3];
}

@utility base-regular {
  @apply text-[14px] font-normal leading-[1.4];
}

@utility base-semibold {
  @apply text-[14px] font-semibold leading-[1.4];
}

@utility base-bold {
  @apply text-[14px] font-bold leading-[1.4];
}

@utility paragraph-regular {
  @apply text-[12px] font-normal leading-[1.4];
}

@utility paragraph-semibold {
  @apply text-[12px] font-semibold leading-[1.4];
}

@utility body-regular {
  @apply text-[10px] font-normal leading-[1.4];
}

@utility body-semibold {
  @apply text-[10px] font-semibold leading-[1.3];
}

@utility small-regular {
  @apply text-[8px] font-normal leading-[1.3];
}

@utility small-semibold {
  @apply text-[8px] font-semibold leading-[1.3];
}

@utility subtle-regular {
  @apply text-[8px] font-normal leading-[1.3];
}

@utility placeholder {
  @apply placeholder:text-light-400 dark:placeholder:text-light-500;
}

@utility invert-colors {
  @apply invert dark:invert-0;
}

@utility shadow-light100_dark100 {
  @apply shadow-light-100 dark:shadow-dark-100;
}

@utility shadow-light100_darknone {
  @apply shadow-light-100 dark:shadow-none;
}

@utility primary-gradient {
  background: linear-gradient(300deg, #2389f5 0%, #1957c3 90%);
}

@utility dark-gradient {
  background: linear-gradient(
    232deg,
    rgba(27, 40, 57, 1) 0%,
    rgba(46, 60, 78, 1) 40%,
    rgba(65, 80, 98, 0.5) 100%
  );
}

@utility light-gradient {
  background: linear-gradient(
    132deg,
    rgba(247, 249, 255, 0.5) 0%,
    rgba(229, 237, 255, 0.25) 100%
  );
}

@utility primary-text-gradient {
  background: linear-gradient(30deg, #2389f5 0%, #1957c3 70%, #0f2590 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-start {
  @apply flex justify-start items-center;
}

@utility card-wrapper {
  @apply bg-light-900 shadow-light-100;
}

@utility no-focus {
  @apply focus-visible:ring-0! focus-visible:ring-transparent! focus-visible:ring-offset-0!;
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
    brightness(104%) contrast(106%) !important;
}
